* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.logo{
	    list-style: none;
}
	.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}
	#LRP{
     text-decoration: none;
    color: #858585;
    font-weight: 600;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: block;
    margin: 1%;


}
    /* Apply basic styles to the header and navigation */
    header {
        background-color: #222;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .logo h1 {
        font-size: 2rem;
    }

    nav ul {
        list-style: none;
        text-align: center;
    }

    nav ul li {
        display: inline;
        margin: 0 1rem;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    /* Style the main content area */
main {
    padding: 2rem;
    min-height: 700px;
}

    .about {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    /* Apply styles to the footer */
    footer {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
    }

    /* Style the text in the main section */
    main p {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    main h2 {
        font-size: 1.5rem;
        color: #a1a3a5; /* Blue color for headings */
    }

    /* Add a background color to even-numbered list items */
    main ol li:nth-child(even) {
        background-color: #f5f5f5;
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    /* Style the "Discover, Connect, and Celebrate Your Family Today!" section */
    main p:last-child {
        font-size: 1.2rem;
        font-weight: bold;
        color: #858687; /* Blue color for emphasis */
    }
{
    box-sizing: border-box;
}
    /* Global styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
*{
    box-sizing: border-box;
}
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }

    /* Styles for buttons */
    button {
    background-color: #8e9399;
    color: #fff;
    border: #5d5d5d solid;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 800;
    box-sizing: border-box;
    width: fit-content;
    }

    button:hover {
        background-color: #4d4d4d;
    }



    label {
        font-weight: 700;
        margin-right: 10px;
    }

	

#tree-details  select,
		    input[type="text"],
    input[type="date"],
    textarea {
       width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5em
    }
	
#tree-details .w70 {
    margin: 2%;
}



#tree-details .image-container{
    height: 100%;
    border-radius: 0 !important;
    width: auto !important;
    padding: 1%;
    margin: 2%;
    box-sizing: border-box;
    display: grid;
}

	.w30{
    width: 30%;

	}
	.w70{
    width: 70%;

	}

	
	#LRP{
    text-decoration: none;
    color: #858585;
    font-weight: 600;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: block;
    margin: 1%;
}



@media screen and (max-width: 900px) {
 .image-container{
    width: 100%  !important;
}


.space_J {
    display: grid !important;
    justify-content: space-between !important;
    width: 100%;
    gap: 10px !important;
}
.w70{
    width: 100% !important;
    display: block;
    margin: auto !important;
    padding: 2%;
}
.flex{
    display: grid !important;
    grid-auto-flow: column;
}



select , label,
    input[type="text"],
    input[type="date"],
    textarea {
    width: 100%;
    font-size: 1.5em !important;
    color: #7f7f7f;
    font-weight: 600 !important;
    }


	
}
.flex_w{
    margin: auto;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.grid{
    display: grid;

}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
